name: Pre-commit auto-update

on:
  workflow_call:
    inputs:
      sign_commit:
        description: "Sign commit with GPG key"
        required: false
        default: true
        type: boolean
      committer:
        description: "Committer name and email"
        required: true
        type: string
      reviewers:
        description: "Comma-separated list of reviewers"
        required: true
        type: string
    secrets:
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true

jobs:
  auto-update:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x

      - run: pip install pre-commit
      - run: pre-commit autoupdate --freeze
      - run: pre-commit run --all-files || true

      - uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        if: inputs.sign_commit && github.event_name != 'pull_request'
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        if: always() && github.event_name != 'pull_request'
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
        with:
          commit-message: "style: Update pre-commit hooks"
          committer: ${{ inputs.committer }}
          branch: update/pre-commit-hooks
          branch-suffix: timestamp
          delete-branch: true
          title: "style: Update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.
          reviewers: ${{ inputs.reviewers }}
