on:
  pull_request:
    paths:
      - ".github/workflows/test-cleanup-workspace.yml"
  push:
    branches: [main]
    paths:
      - ".github/workflows/test-cleanup-workspace.yml"
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"

defaults:
  run:
    shell: bash

jobs:
  test-cleanup-before-checkout:
    strategy:
      matrix:
        os: [macos15, windows]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Determine workspace
        run: |
          WORKSPACE='${{ github.workspace }}'
          if [ '${{ runner.os }}' = 'Windows' ]; then
            WORKSPACE=$(cygpath -u "${WORKSPACE}")
          fi
          echo "WORKSPACE=${WORKSPACE}" >> $GITHUB_ENV

      - name: Create files in workspace
        run: |
          touch "${WORKSPACE}/testfile"
          mkdir -p "${WORKSPACE}/testdir"
          touch "${WORKSPACE}/testdir/inner_testfile"
          mkdir -p "${WORKSPACE}/.git"
          touch "${WORKSPACE}/.git/inner_gitfile"

      - name: List files in workspace
        run: |
          ls -RA "${WORKSPACE}"

      # Using the hash-pinned version, because we want to test it works before checkout
      - name: Cleanup workspace
        uses: XRPLF/actions/cleanup-workspace@c7d9ce5ebb03c752a354889ecd870cadfc2b1cd4

      - name: Check that workspace is empty
        run: |
          if [ "$(ls -A ${WORKSPACE})" ]; then
            echo "Workspace is not empty"
            exit 1
          else
            echo "Workspace is empty"
          fi

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
