on:
  pull_request:
    paths:
      - ".github/workflows/test-cleanup-workspace.yml"
      - ".github/actions/cleanup-workspace/**"
  push:
    branches: [main]
    paths:
      - ".github/workflows/test-cleanup-workspace.yml"
      - ".github/actions/cleanup-workspace/**"
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"

defaults:
  run:
    shell: bash

jobs:
  test-cleanup-before-checkout:
    strategy:
      matrix:
        include:
          - os: macos15
          - os: windows

    runs-on: ${{ matrix.os }}

    steps:
      - name: Determine workspace
        run: |
          WORKSPACE='${{ github.workspace }}'
          if [ '${{ runner.os }}' = 'Windows' ]; then
            WORKSPACE=$(cygpath -u "${WORKSPACE}")
          fi
          echo "WORKSPACE=${WORKSPACE}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: List files in workspace
        run: |
          ls -RA "${WORKSPACE}"

      - name: Cleanup workspace
        uses: ./.github/actions/cleanup-workspace

      - name: Check that workspace is empty
        run: |
          if [ "$(ls -A ${WORKSPACE})" ]; then
            echo "Workspace is not empty"
            exit 1
          else
            echo "Workspace is empty"
          fi
