on:
  pull_request:
    paths:
      - ".github/workflows/test-cleanup-workspace.yml"
      - ".github/actions/cleanup-workspace/**"
  push:
    branches: [main]
    paths:
      - ".github/workflows/test-cleanup-workspace.yml"
      - ".github/actions/cleanup-workspace/**"
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"

defaults:
  run:
    shell: bash

jobs:
  test-cleanup-before-checkout:
    strategy:
      matrix:
        os: [macos15, windows]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Create files in workspace
        run: |
          touch ${{ github.workspace }}/testfile
          mkdir -p ${{ github.workspace }}/testdir
          touch ${{ github.workspace }}/testdir/inner_testfile
          mkdir -p ${{ github.workspace }}/.git
          touch ${{ github.workspace }}/.git/inner_gitfile

      - name: List files in workspace
        run: |
          ls -RA ${{ github.workspace }}

      # Using hash-pinned version, because we want to test it works before checkout
      - name: Cleanup workspace
        uses: mathbunnyru/actions/.github/actions/cleanup-workspace@8b232d1b12b0a7c75535d678640c2f54f4ec4a5c

      - name: Check that workspace is empty
        run: |
          if [ "$(ls -A ${{ github.workspace }})" ]; then
            echo "Workspace is not empty"
            exit 1
          else
            echo "Workspace is empty"
          fi

      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
